<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="myapp.features.login">

    <application>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="com.example.myapp.login.open"></action>
                <category android:name="android.intent.category.DEFAULT"></category>
            </intent-filter>
        </activity>
    </application>

</manifest>